.vagrant

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup


.terraform/
*.tfplan
*.tfvars
crash.log
*.log
.terraform.rc
output.log  
plan.out  
*.backup  
*.bak

